<!DOCTYPE html>
<html>
<head>
  <title>出勤登録</title>
</head>
<body>
  <h1>出勤登録</h1>
  <p>{{ username }}さん、おはようございます。</p>
  <!-- 勤怠入力フォームやその他のコンテンツを追加 -->
  <script>
    function registerAttendance() {
      var currentTime = new Date();
      var timeString = currentTime.toLocaleTimeString();
      
      var attendanceStatus = document.getElementById("attendanceStatus");
      var attendanceTime = document.getElementById("attendanceTime");
      
      if (attendanceStatus.checked) {
        attendanceTime.value = timeString;
      } else {
        attendanceTime.value = "";
      }
    }
  </script>
</head>
<body>
  <label>
    <input type="checkbox" id="attendanceStatus">出勤
  </label>
  <br><br>
  <label for="attendanceTime">登録時刻:</label>
  <input type="text" id="attendanceTime" readonly>
  <br><br>
  <button onclick="registerAttendance()">登録</button>
</body>
</html>
