<!DOCTYPE html>
<html>
<head>
  <title>出退勤登録</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles_regist.css') }}">
<body>
  
<h1>
  <button class="custom-button1" onclick="registerAttendance('出勤')">出勤</button>
  <button class="custom-button2" onclick="registerAttendance('退勤')">退勤</button>
</h1>
<h2>
  <button class="custom-button3" onclick="registerAttendance('休憩開始')">休憩開始</button>
  <button class="custom-button4" onclick="registerAttendance('休憩終了')">休憩終了</button>
</h2>

      <button class="menu-button" onclick="toggleMenu('menu1')">メニュー一覧</button>
      <div class="menu-content" id="menu1">
        <a href="###">勤務実績</a>
        <a href="owner.html">管理者メニュー</a>
        <a href="/">ログアウト</a>
      </div>


      <script src="{{ url_for('static', filename='script.js') }}">
        ///本来のスクリプト（作成中）
      </script>


  <script>
    ///代理のスクリプト
      var previousCommand = null;

      function registerAttendance(command) {
        if (previousCommand === command) {
          alert("既に登録されています。");
          return;
        }
  
        var currentTime = new Date().toLocaleString();
        var message = command + "時間: " + currentTime;
  
        alert(message);
  
        previousCommand = command;
      }
      
      function toggleMenu(menuId) {
          const menuContent = document.getElementById(menuId);
          menuContent.classList.toggle('active');
        }
  </script>

  <style>
    body {
    /* 背景画を指定 */
    background-image: url("{{ url_for('static', filename='SINGLES.jpg') }}");
    
    background-size: 75% center;

    background-position: top left;
   
    background-repeat: no-repeat;
    }
  </style>

</body>
</head>
</html