<!DOCTYPE html>
<html>
<head>
  <title>シングルス - ログイン</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_mian.css') }}">
<body>
    <p> 一人っ子娘政策課　管理部</p>
  <form method="POST" action="/">
    <label for="username">ユーザー名:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">パスワード:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="ログイン">
  </form>

  <style>
    body {
    /* 背景画を指定 */
    background-image: url("{{ url_for('static', filename='SINGLES.jpg') }}");
    
    background-size: 75% center;

    background-position: top left;
   
    background-repeat: no-repeat;
    }
   

  </style>
  
</body>
</head>
</html>
