<!DOCTYPE html>
<html>
<head>
  <title>シングルス - 従業員追加ページ</title>
</head>
<body>
    <div class="container">
        <form action="/userCreate.html" method="POST">

            <label for="id">従業員ID</label>
            <input name="id"></input><br />

            <label for="userName">ユーザー名</label>
            <input name="userName"></input><br />

            <label for="password">パスワード</label>
            <input name="password"></input><br />
    
            <button type="submit" class="btn btn-primary">従業員追加</button><br /><br />

            <a href="owner.html">管理者メニュー</a><br />
            <a href="/">ログアウト</a><br />

        </form>
    </div>
</body>
</html>