<style>

 /* CSSスタイルを記述 */
 body {
  font-family: Arial, sans-serif;
}

.custom-button1{
      background-color: #00bfff;
      border: none;
      color: rgb(255, 255, 255);
      padding: 100px 100px;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      border-radius: 8px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
}
.custom-button2 {
      background-color: #ff4d00;
      border: none;
      color: white;
      padding: 100px 100px;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      border-radius: 8px;
      cursor: pointer;
}
.custom-button3{
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 100px 100px;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      border-radius: 8px;
      cursor: pointer;
}
.custom-button4{
      background-color: #ffe600;
      border: none;
      color: white;
      padding: 100px 100px;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      border-radius: 8px;
      cursor: pointer;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}

/* メニューバー */
nav {
  background-color: #ffffff;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

nav a {
  display: flex;
  padding: 5px 2px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s; /* ホバー時の変化をスムーズにする */
}

nav a:hover {
  background-color: #ffffff;
  width: 150px;
}



</style>