<style>

 /* CSSスタイルを記述 */
 body {
  font-family: Arial, sans-serif;
}

.custom-button1{
      background-color: #00bfff;
      border: none;
      color: rgb(255, 255, 255);
      padding: 100px 100px;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      border-radius: 8px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
}
.custom-button2 {
      background-color: #ff4d00;
      border: none;
      color: white;
      padding: 100px 100px;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      border-radius: 8px;
      cursor: pointer;
}
.custom-button3{
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 100px 100px;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      border-radius: 8px;
      cursor: pointer;
}
.custom-button4{
      background-color: #ffe600;
      border: none;
      color: white;
      padding: 100px 100px;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      border-radius: 8px;
      cursor: pointer;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
.navbar {
  position: center;
  bottom: 0;
  right: 0;
  padding: 10px;
  border-top-left-radius: 10px;
  color: white;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 10px;
}

.navbar li a {
  color: white;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
}
</style>